@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .light {
    --background: #ffffff;
    --foreground: #1F2432;
    --active: #3B5BFF;
    --border: #d1d5db;
    --muted: #6b7280;
    --gradient-start: #DCE1F2;
    --gradient-end: #85A3FF;
  }
}


:root {
  --background: #1F2432;
  --foreground: #ededed;
  --active: #85A3FF;
  --border: #374151;
  --muted: #9ca3af;
  --gradient-start: #85A3FF;
  --gradient-end: #DCE1F2;
  --white: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-active: var(--active);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Graphik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3B5BFF;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  margin-top: -1px;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3B5BFF;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.2);
}

.slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
}

.slider::-moz-range-track {
  height: 8px;
  border-radius: 4px;
  background: #4B5672;
}
@keyframes tooltip {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-tooltip {
  animation: tooltip 0.2s ease-out forwards;
}